<header class="" [ngClass]="{'home-header': rootView, 'container-fluid PropertyListHeader': !rootView }">
  <div class="row NextMobileMenu d-lg-none mt-4">
    <div class="col-2 text-left">
      <a class="toggleMenu">
        <img src="assets/img/menu-mobile.png">
      </a>
    </div>
    <div class="col-8 text-center">
      <a [routerLink]='["/"]'>
      </a>
    </div>
    <div class="col-2 text-right">
      <a class="toggleMenuPerfil"><img src="assets/img/user-mobile.png"></a>
    </div>
  </div>
  <div class="MenuMobile animated">
    <div class="container-fluid">
      <div class="row MobileMenuHeader">
        <div class="col-12 col-sm-12">
          <a [routerLink]='["/"]' class="CloseMenu">
            <img src="assets/img/menu-burg-laranja.png" />
          <span>MENU</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12  col-sm-12 px-0">
          <ul class="FirstMenu">
            <li class="CollapseMobile1">
              <a href="">Quero alugar</a>
              <ul class="SecondMenu Collapse1">
                <li>
                  <a class="dropdown-item"
                       [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'alugar'}">Residencial</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'comercial', categoria: 'alugar'}">Comercial</a>
                </li>
              </ul>
            </li>
            <li class="CollapseMobile2">
              <a href="index.html#">Quero comprar</a>
              <ul class="SecondMenu Collapse2">
                <li><a class="dropdown-item"
                       [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'comprar'}">Residencial</a>
                </li>
                <li><a class="dropdown-item"
                       [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'comercial', categoria: 'comprar'}">Comercial</a>
                </li>
              </ul>
            </li>
            <li><a [routerLink]='["/anunciar"]'>Quero anunciar</a></li>
            <li><a [routerLink]='["/sobre"]'>Sobre nós</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12  col-sm-12">
          <div class="d-flex align-items-end align-self-end">
            <ul class="SocialMobileMenu">
              <li><a href="https://www.facebook.com/nextsim"><img src="assets/img/Caminho&#32;354.png" alt=""></a></li>
              <li><a href="https://www.instagram.com/next_sim/"><img src="assets/img/Caminho&#32;355.png" alt=""></a>
              </li>
              <li><a href="https://www.youtube.com/channel/nextsim?sub_confirmation=1"><img
                src="assets/img/Caminho&#32;356.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="MenuMobilePerfil animated">
    <div class="container-fluid">
      <div class="row MobileMenuHeaderPerfil">
        <div class="col-12  col-sm-12"><a href="#" class="CloseMenuPerfil"><img
          src="assets/img/user-mobile-orange.png" width="17" alt="user">
          <span>MEU PERFIL</span></a>
        </div>
      </div>
      <div class="row" style="display: none;">
        <div class="col-12 col-sm-12">
          <ul class="MenuPerfilBtns">
            <li class="">
              <button type="button" class="btn btn-enter btn-rounded CloseMenuPerfil" data-toggle="modal"
                      data-target="#login">Entrar
              </button>
            </li>
            <li class="">
              <button type="button" class="btn btn-sing-up btn-rounded CloseMenuPerfil" data-toggle="modal"
                      data-target="#cadastro">Cadastre-se
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="" [ngClass]="{'header-nav container alt': !rootView, 'home-header-fixed': rootView}">
    <div class="container">
      <nav class="header-nav container">
        <ul class="d-none d-sm-none d-md-none d-lg-flex">
          <li class="logo">
            <a [routerLink]="['/']">
              <img src="assets/img/logo-next-home.svg" alt="" width="145" *ngIf="rootView">
              <img src="assets/img/logo-next-header.svg" alt="" width="145" *ngIf="!rootView">
            </a>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle " href="#" id="QueroAlugar" role="button"
               aria-haspopup="true" aria-expanded="false">
              Quero alugar
            </a>
            <div class="dropdown-menu" aria-labelledby="QueroAlugar">
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'alugar'}">Residencial</a>
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'comercial', categoria: 'alugar'}">Comercial</a>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle " href="#" id="QueroComprar" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Quero comprar
            </a>
            <div class="dropdown-menu " aria-labelledby="QueroComprar">
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'comprar'}">Residencial</a>
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'comercial', categoria: 'comprar'}">Comercial</a>
            </div>
          </li>
          <li>
            <a [routerLink]='["/anunciar"]'>Quero anunciar</a>
          </li>
          <li style="display: none;">
            <button type="button" class="btn btn-enter btn-rounded" data-toggle="modal" data-target="#login">Entrar
            </button>
          </li>
          <li style="display: none;">
            <button type="button" class="btn btn-sing-up btn-rounded btn-sing-up-home" data-toggle="modal"
                    data-target="#cadastro">Cadastre-se
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="modal fade" id="MobHomeFilterModal" tabindex="-1" role="dialog" aria-labelledby="MobHomeFilterModalLabel"
       aria-hidden="true" *ngIf="rootView">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="frm_filter">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img src="assets/img/close-btn.png" alt="">
            </button>
          </div>
          <div class="modal-body" id="STEP1">
            <div class="row pt-5">
              <div class="col-8 offset-2">
                <div class="row">
                  <div class="col-3"><img src="assets/img/icon-1.png" alt=""></div>
                  <div class="col-9">
                    <h2>Escolha uma<br><span>Finalidade:</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5 pb-2">
              <div class="col-12">
                <ul class="HorizontalCheckBoxMobile2">
                  <li>
                    <input type="radio" class="HorizontalCheckBoxMobileInput2 " name="finalidade[]" value="Comprar"
                           id="OPCcomprar2">
                    <label for="OPCcomprar2" class="HorizontalCheckBoxMobileLabel2"><span>Comprar</span></label>
                  </li>
                  <li>
                    <input type="radio" class="HorizontalCheckBoxMobileInput2 " name="finalidade[]" value="Alugar"
                           id="OPCalugar2">
                    <label for="OPCalugar2" class="HorizontalCheckBoxMobileLabel2"><span>Alugar</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="StepsFilter">
                  <li><a class="active ball_step1"></a></li>
                  <li><a class="ball_step2"></a></li>
                  <li><a class="ball_step3"></a></li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 pb-5">
              <div class="col-12">
                <button type="button" class="btn btn-rounded btn-search BTN1">AVANÇAR</button>
              </div>
            </div>
          </div>
          <div class="modal-body" id="STEP2">
            <div class="row pt-5">
              <div class="col-8 offset-2">
                <div class="row">
                  <div class="col-3"><img src="assets/img/icon-2.png" alt=""></div>
                  <div class="col-9">
                    <h2>Escolha uma<br><span>Categoria:</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5 pb-2">
              <div class="col-12">
                <div class="category">
                  <div class="category-title"><span class="icon-category arrow-down-icon"></span> <span
                    class="category-title-in">Categoria</span></div>
                  <div class="category-options">
                    <div class="form-check category-option">
                      <input class="form-check-input" type="radio" name="category" id="Check-residencial"
                             value="Residencial">
                      <label class="form-check-label" id="label-residencial" for="Check-residencial">
                        Residencial
                      </label>
                    </div>
                    <div class="form-check category-option">
                      <input class="form-check-input" type="radio" name="category" id="Check-comercial"
                             value="Comercial">
                      <label class="form-check-label" id="label-comercial" for="Check-comercial">
                        Comercial
                      </label>
                    </div>
                    <div class="form-check category-option">
                      <input class="form-check-input" type="radio" name="category" id="Check-lancamento"
                             value="Lançamento">
                      <label class="form-check-label" id="label-lancamento" for="Check-lancamento">
                        Lançamento
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="StepsFilter">
                  <li><a class="ball_step1"></a></li>
                  <li><a class="ball_step2"></a></li>
                  <li><a class="ball_step3"></a></li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 pb-5">
              <div class="col-12">
                <button type="button" class="btn btn-rounded btn-search BTN2">AVANÇAR</button>
              </div>
            </div>
          </div>
          <div class="modal-body" id="STEP3">
            <div class="row pt-5">
              <div class="col-8 offset-2">
                <div class="row">
                  <div class="col-3"><img src="assets/img/icon-3.png" alt=""></div>
                  <div class="col-9">
                    <h2>Escolha uma<br><span>Cidade:</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5 pb-2">
              <div class="col-12 ">
                              <span class="filterCityField">
                              <input type="text" class="CityField" name="bairros[]"
                                     placeholder="Cidade, bairro ou código">
                              </span>
              </div>
              <div id="ajaxList2" class="ajaxlist">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="StepsFilter">
                  <li><a class="ball_step1"></a></li>
                  <li><a class="ball_step2"></a></li>
                  <li><a class="ball_step3"></a></li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 pb-5">
              <div class="col-12">
                <button type="button" class="btn btn-rounded btn-search BTN3"><I class="fas fa-search"></I> BUSCAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container title-home-section d-lg-none" *ngIf="rootView">
    <a href="index.html#" class="logo">
      <img src="assets/img/logo-next.svg" alt="" width="145">
    </a>
    <h3>
      Sua melhor forma de acessar imóveis<br> de alto padrão com suporte.
    </h3>
    <h4 class="font-weight-semibold">Encontre o lugar dos seus sonhos em Campinas e região:</h4>
  </div>
  <div class="container title-home-section d-none d-lg-block" *ngIf="rootView">
    <h3>
      Sua melhor forma de acessar imóveis<br> de alto padrão com suporte.
    </h3>
    <h4 class="font-weight-semibold">Encontre o lugar dos seus sonhos em Campinas e região:</h4>
  </div>
  <div class="container home-filter " >
    <form action="http://nextsim.com.br/imoveis" method="GET" id="home-search">
      <div class="row d-none d-lg-block">
        <div class="col-md-12">
          <div class="filter-bar-home centerObject">
            <div class="goal" ngbDropdown>
              <div class="goal-title" ngbDropdownToggle id="dropdownForm1"><span class="icon-goal arrow-down-icon"></span> <span class="goal-title-in">{{simpleSearch.finalidade || 'Finalidade'}}</span>
              </div>
              <div class="goal-options" ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="form-check goal-option" (click)='simpleSearch.finalidade = "Comprar"'>
                  <label class="form-check-label" id="label-comprar" >
                    Comprar
                  </label>
                </div>
                <div class="form-check goal-option" (click)='simpleSearch.finalidade = "Alugar"'>
                  <label class="form-check-label" id="label-alugar" >
                    Alugar
                  </label>
                </div>
              </div>
            </div>
            <div class="category" ngbDropdown>
              <div class="category-title" ngbDropdownToggle id="dropdownForm2"><span class="icon-category arrow-down-icon"></span> <span
                class="category-title-in">{{simpleSearch.categoria || 'Categoria'}}</span></div>
              <div class="category-options" ngbDropdownMenu aria-labelledby="dropdownForm2">
                <div class="form-check category-option" (click)="simpleSearch.categoria = 'Residencial'">
                  <label class="form-check-label"  >
                    Residencial
                  </label>
                </div>
                <div class="form-check category-option" (click)="simpleSearch.categoria = 'Comercial'">
                  <label class="form-check-label"  >
                    Comercial
                  </label>
                </div>
<!--                <div class="form-check goal-option">-->
<!--                  <a href="index.html#sectionRelease" class="sectionReleaseLink">-->
<!--                    <label class="form-check-label" id="" for=""> Lançamentos </label>-->
<!--                  </a>-->
<!--                </div>-->
              </div>
            </div>
            <div class="searchfield">
              <input type="text" class="form-control" id="search-field"
                     placeholder="Cidade, bairro ou código" autocomplete="off" [ngModel]="simpleSearch.campo">
              <div id="ajaxList">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-none d-sm-none d-md-block">
          <button class="btn btn-search btn-rounded" >
            <i class="fas fa-search"></i> BUSCAR
          </button>
        </div>
        <div class="col-md-12 d-block d-sm-block d-md-none">
          <button class="btn btn-search btn-rounded " data-toggle="modal" data-target="#MobHomeFilterModal"
                  type="button">
            <i class="fas fa-search"></i> REALIZAR PESQUISA
          </button>
        </div>
        <div class="col-md-12 d-none d-lg-block">
          <a class="btn btn-custom-your-search btn-rounded" data-toggle="modal" data-target=".Home-Personal-Filter-Bar" (click)="open(content)">
            <span class="custom-your-search-icon"></span> Personalize a sua busca
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="container scroll-btn" *ngIf="rootView">
    <span href=""><img src="assets/img/arrow-01.png" width="50" id="down-arrow"></span>
  </div>
<!--  <div class="owl-carousel" *ngIf="rootView"  [ngStyle]="{'height.px': divStyle}">-->
<!--    <img src="assets/img/house-bg.jpg" alt="">-->
<!--  </div>-->
</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1>dasdsads</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
