<header class="" [ngClass]="{'home-header': rootView, 'container-fluid PropertyListHeader': !rootView }">
  <div class="row NextMobileMenu d-lg-none mt-4">
    <div class="col-2 text-left">
      <a class="toggleMenu">
        <img src="assets/img/menu-mobile.png">
      </a>
    </div>
    <div class="col-8 text-center">
      <a [routerLink]='["/"]'>
      </a>
    </div>
    <div class="col-2 text-right">
      <a class="toggleMenuPerfil"><img src="assets/img/user-mobile.png"></a>
    </div>
  </div>
  <div class="MenuMobile animated">
    <div class="container-fluid">
      <div class="row MobileMenuHeader">
        <div class="col-12 col-sm-12">
          <a [routerLink]='["/"]' class="CloseMenu">
            <img src="assets/img/menu-burg-laranja.png"/>
            <span>MENU</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12  col-sm-12 px-0">
          <ul class="FirstMenu">
            <li class="CollapseMobile1">
              <a href="">Quero alugar</a>
              <ul class="SecondMenu Collapse1">
                <li>
                  <a class="dropdown-item"
                     [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'alugar'}">Residencial</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'comercial', categoria: 'alugar'}">Comercial</a>
                </li>
              </ul>
            </li>
            <li class="CollapseMobile2">
              <a href="index.html#">Quero comprar</a>
              <ul class="SecondMenu Collapse2">
                <li><a class="dropdown-item"
                       [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'comprar'}">Residencial</a>
                </li>
                <li><a class="dropdown-item"
                       [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'comercial', categoria: 'comprar'}">Comercial</a>
                </li>
              </ul>
            </li>
            <li><a [routerLink]='["/anunciar"]'>Quero anunciar</a></li>
            <li><a [routerLink]='["/sobre"]'>Sobre nós</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12  col-sm-12">
          <div class="d-flex align-items-end align-self-end">
            <ul class="SocialMobileMenu">
              <li><a href="https://www.facebook.com/nextsim"><img src="assets/img/Caminho&#32;354.png" alt=""></a></li>
              <li><a href="https://www.instagram.com/next_sim/"><img src="assets/img/Caminho&#32;355.png" alt=""></a>
              </li>
              <li><a href="https://www.youtube.com/channel/nextsim?sub_confirmation=1"><img
                src="assets/img/Caminho&#32;356.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="MenuMobilePerfil animated">
    <div class="container-fluid">
      <div class="row MobileMenuHeaderPerfil">
        <div class="col-12  col-sm-12"><a href="#" class="CloseMenuPerfil"><img
          src="assets/img/user-mobile-orange.png" width="17" alt="user">
          <span>MEU PERFIL</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="" [ngClass]="{'header-nav container alt': !rootView, 'home-header-fixed': rootView}">
    <div class="container">
      <nav class="header-nav container">
        <ul class="d-none d-sm-none d-md-none d-lg-flex">
          <li class="logo">
            <a [routerLink]="['/']">
              <img src="assets/img/logo-next-home.svg" alt="" width="145" *ngIf="rootView">
              <img src="assets/img/logo-next-header.svg" alt="" width="145" *ngIf="!rootView">
            </a>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle " href="#" id="QueroAlugar" role="button"
               aria-haspopup="true" aria-expanded="false">
              Quero alugar
            </a>
            <div class="dropdown-menu" aria-labelledby="QueroAlugar">
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'alugar'}">Residencial</a>
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']"
                 [queryParams]="{finalidade: 'comercial', categoria: 'alugar'}">Comercial</a>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle " href="#" id="QueroComprar" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Quero comprar
            </a>
            <div class="dropdown-menu " aria-labelledby="QueroComprar">
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']" [queryParams]="{finalidade: 'residencial', categoria: 'comprar'}">Residencial</a>
              <a class="dropdown-item"
                 [routerLink]="['/imoveis/']"
                 [queryParams]="{finalidade: 'comercial', categoria: 'comprar'}">Comercial</a>
            </div>
          </li>
          <li>
            <a [routerLink]='["/anunciar"]'>Quero anunciar</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="modal fade" id="MobHomeFilterModal" tabindex="-1" role="dialog" aria-labelledby="MobHomeFilterModalLabel"
       aria-hidden="true" *ngIf="rootView">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="frm_filter">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="STEP1">
            <div class="row pt-5">
              <div class="col-8 offset-2">
                <div class="row">
                  <div class="col-3"><img src="assets/img/icon-1.png" alt=""></div>
                  <div class="col-9">
                    <h2>Escolha uma<br><span>Finalidade:</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5 pb-2">
              <div class="col-12">
                <ul class="HorizontalCheckBoxMobile2">
                  <li>
                    <input type="radio" class="HorizontalCheckBoxMobileInput2 " name="finalidade[]" value="Comprar"
                           id="OPCcomprar2">
                    <label for="OPCcomprar2" class="HorizontalCheckBoxMobileLabel2"><span>Comprar</span></label>
                  </li>
                  <li>
                    <input type="radio" class="HorizontalCheckBoxMobileInput2 " name="finalidade[]" value="Alugar"
                           id="OPCalugar2">
                    <label for="OPCalugar2" class="HorizontalCheckBoxMobileLabel2"><span>Alugar</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="StepsFilter">
                  <li><a class="active ball_step1"></a></li>
                  <li><a class="ball_step2"></a></li>
                  <li><a class="ball_step3"></a></li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 pb-5">
              <div class="col-12">
                <button type="button" class="btn btn-rounded btn-search BTN1">AVANÇAR</button>
              </div>
            </div>
          </div>
          <div class="modal-body" id="STEP2">
            <div class="row pt-5">
              <div class="col-8 offset-2">
                <div class="row">
                  <div class="col-3"><img src="assets/img/icon-2.png" alt=""></div>
                  <div class="col-9">
                    <h2>Escolha uma<br><span>Categoria:</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5 pb-2">
              <div class="col-12">
                <div class="category">
                  <div class="category-title"><span class="icon-category arrow-down-icon"></span> <span
                    class="category-title-in">Categoria</span></div>
                  <div class="category-options">
                    <div class="form-check category-option">
                      <input class="form-check-input" type="radio" name="category" id="Check-residencial"
                             value="Residencial">
                      <label class="form-check-label" id="label-residencial" for="Check-residencial">
                        Residencial
                      </label>
                    </div>
                    <div class="form-check category-option">
                      <input class="form-check-input" type="radio" name="category" id="Check-comercial"
                             value="Comercial">
                      <label class="form-check-label" id="label-comercial" for="Check-comercial">
                        Comercial
                      </label>
                    </div>
                    <div class="form-check category-option">
                      <input class="form-check-input" type="radio" name="category" id="Check-lancamento"
                             value="Lançamento">
                      <label class="form-check-label" id="label-lancamento" for="Check-lancamento">
                        Lançamento
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="StepsFilter">
                  <li><a class="ball_step1"></a></li>
                  <li><a class="ball_step2"></a></li>
                  <li><a class="ball_step3"></a></li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 pb-5">
              <div class="col-12">
                <button type="button" class="btn btn-rounded btn-search BTN2">AVANÇAR</button>
              </div>
            </div>
          </div>
          <div class="modal-body" id="STEP3">
            <div class="row pt-5">
              <div class="col-8 offset-2">
                <div class="row">
                  <div class="col-3"><img src="assets/img/icon-3.png" alt=""></div>
                  <div class="col-9">
                    <h2>Escolha uma<br><span>Cidade:</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5 pb-2">
              <div class="col-12 ">
                              <span class="filterCityField">
                              <input type="text" class="CityField" name="bairros[]"
                                     placeholder="Cidade, bairro ou código">
                              </span>
              </div>
              <div id="ajaxList2" class="ajaxlist">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="StepsFilter">
                  <li><a class="ball_step1"></a></li>
                  <li><a class="ball_step2"></a></li>
                  <li><a class="ball_step3"></a></li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 pb-5">
              <div class="col-12">
                <button type="button" class="btn btn-rounded btn-search BTN3"><I class="fas fa-search"></I> BUSCAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container title-home-section d-lg-none" *ngIf="rootView">
    <a href="index.html#" class="logo">
      <img src="assets/img/logo-next.svg" alt="" width="145">
    </a>
    <h3>
      Sua melhor forma de acessar imóveis<br> de alto padrão com suporte.
    </h3>
    <h4 class="font-weight-semibold">Encontre o lugar dos seus sonhos em Campinas e região:</h4>
  </div>
  <div class="container title-home-section d-none d-lg-block" *ngIf="rootView">
    <h3>
      Sua melhor forma de acessar imóveis<br> de alto padrão com suporte.
    </h3>
    <h4 class="font-weight-semibold">Encontre o lugar dos seus sonhos em Campinas e região:</h4>
  </div>
  <div class="container home-filter " *ngIf="rootView">
    <form action="http://nextsim.com.br/imoveis" method="GET" id="home-search">
      <div class="row d-none d-lg-block">
        <div class="col-md-12">
          <div class="filter-bar-home centerObject">
            <div class="goal" ngbDropdown>
              <div class="goal-title" ngbDropdownToggle id="dropdownForm1"><span
                class="icon-goal arrow-down-icon"></span> <span
                class="goal-title-in">{{simpleSearch.categoria || 'Finalidade'}}</span>
              </div>
              <div class="goal-options" ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="form-check goal-option" (click)='simpleSearch.categoria= "comprar"'>
                  <label class="form-check-label" id="label-comprar">
                    Comprar
                  </label>
                </div>
                <div class="form-check goal-option" (click)='simpleSearch.categoria = "alugar"'>
                  <label class="form-check-label" id="label-alugar">
                    Alugar
                  </label>
                </div>
              </div>
            </div>
            <div class="category" ngbDropdown>
              <div class="category-title" ngbDropdownToggle id="dropdownForm2"><span
                class="icon-category arrow-down-icon"></span> <span
                class="category-title-in">{{simpleSearch.finalidade || 'Categoria'}}</span></div>
              <div class="category-options" ngbDropdownMenu aria-labelledby="dropdownForm2">
                <div class="form-check category-option" (click)="simpleSearch.finalidade = 'residencial'">
                  <label class="form-check-label">
                    Residencial
                  </label>
                </div>
                <div class="form-check category-option" (click)="simpleSearch.finalidade = 'comercial'">
                  <label class="form-check-label">
                    Comercial
                  </label>
                </div>
                <!--                <div class="form-check goal-option">-->
                <!--                  <a href="index.html#sectionRelease" class="sectionReleaseLink">-->
                <!--                    <label class="form-check-label" id="" for=""> Lançamentos </label>-->
                <!--                  </a>-->
                <!--                </div>-->
              </div>
            </div>
            <div class="searchfield">
              <input type="text" class="form-control" id="search-field"
                     placeholder="Cidade, bairro ou código" autocomplete="off" [(ngModel)]="simpleSearch.campo"
                     [ngModelOptions]="{standalone: true}">
              <div id="ajaxList">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-none d-sm-none d-md-block">
          <button class="btn btn-search btn-rounded" (click)="search()">
            <i class="fas fa-search"></i> BUSCAR
          </button>
        </div>
        <div class="col-md-12 d-block d-sm-block d-md-none">
          <button class="btn btn-search btn-rounded " data-toggle="modal" data-target="#MobHomeFilterModal"
                  type="button">
            <i class="fas fa-search"></i> REALIZAR PESQUISA
          </button>
        </div>
        <div class="col-md-12 d-none d-lg-block">
          <a class="btn btn-custom-your-search btn-rounded" data-toggle="modal" data-target=".Home-Personal-Filter-Bar"
             (click)="open(content)">
            <span class="custom-your-search-icon"></span> Personalize a sua busca
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="container scroll-btn" *ngIf="rootView">
    <span href=""><img src="assets/img/arrow-01.png" width="50" id="down-arrow"></span>
  </div>
  <!--  <div class="owl-carousel" *ngIf="rootView"  [ngStyle]="{'height.px': divStyle}">-->
  <!--    <img src="assets/img/house-bg.jpg" alt="">-->
  <!--  </div>-->
</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="HomePersonalFilterBar">
      <div class="row FilterBarShadowDown">
        <div class="col-5">
          <h4>Finalidade</h4>
          <!--          <ul class="HorizontalCheckBoxMobile">-->
          <!--            <li>-->
          <!--              <input type="radio" class="HorizontalCheckBoxMobileInput " name="finalidade[]" value="comprar"-->
          <!--                     id="OPCcomprar">-->
          <!--              <label for="OPCcomprar" class="HorizontalCheckBoxMobileLabel"><span>Comprar</span></label>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <input type="radio" class="HorizontalCheckBoxMobileInput " name="finalidade[]" value="alugar"-->
          <!--                     id="OPCalugar">-->
          <!--              <label for="OPCalugar" class="HorizontalCheckBoxMobileLabel"><span>Alugar</span></label>-->
          <!--            </li>-->
          <!--          </ul>-->

          <ul class="HorizontalCheckBoxMobile" ngbRadioGroup name="radioBasic" [(ngModel)]="customSearch.categoria">
            <li>
              <label ngbButtonLabel class="HorizontalCheckBoxMobileLabel">
                <input ngbButton type="radio" value="comprar" class="HorizontalCheckBoxMobileInput"> Comprar
              </label>
            </li>
            <li>
              <label ngbButtonLabel class="HorizontalCheckBoxMobileLabel">
                <input ngbButton type="radio" value="alugar" class="HorizontalCheckBoxMobileInput"> Alugar
              </label>
            </li>
          </ul>
        </div>
        <div class="col-7">
          <h4>Categoria</h4>
          <ul class="HorizontalCheckBoxMobile" ngbRadioGroup name="radioBasic" [(ngModel)]="customSearch.finalidade"
              (ngModelChange)="finalidadeChange($event)">
            <li>
              <label ngbButtonLabel class="HorizontalCheckBoxMobileLabel">
                <input ngbButton type="radio" value="residencial" class="HorizontalCheckBoxMobileInput"> Residencial
              </label>
            </li>
            <li>
              <label ngbButtonLabel class="HorizontalCheckBoxMobileLabel">
                <input ngbButton type="radio" value="comercial" class="HorizontalCheckBoxMobileInput"> Comercial
              </label>
            </li>
            <li *ngIf="false">
              <label ngbButtonLabel class="HorizontalCheckBoxMobileLabel">
                <input ngbButton type="radio" value="lancamentos" class="HorizontalCheckBoxMobileInput"> Lançamentos
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="row selectiona_local" style="">


        <div class="col-8" *ngIf="locais">
          <span class="TitleCityMobHome">Locais</span>
          <ngb-accordion [closeOthers]="true" >
            <ngb-panel [attr.id]="'static-' + i" *ngFor="let local of locaisGeral;  let i = index">
              <ng-template ngbPanelTitle>
                <span>{{local}}</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="tab-pane fade show  FilterBarCheckBoxFIELDS2" >
                  <ul>
                    <li *ngFor="let bairro of filterLocaisBairros(local);  let i = index">
                      <input type="checkbox" class="checkbox-s2" id="tipo{{bairro.i}}" ([ngModel])="bairro.selected"
                             (change)="changeBairro($event, i)"/>
                      <label for="tipo{{bairro.i}}"><span>{{bairro.key}}</span></label>
                    </li>
                  </ul>
                </div>

              </ng-template>
            </ngb-panel>

          </ngb-accordion>
        </div>
        <div class="col-4">
          <div class="filter-badgesMob" style="">
            <span class="TitleCitySelectMobHome">Selecionados</span>
            <div class="BairroSec">
              <span *ngFor="let bairro of bairrosSelecionados  let i = index">{{bairro}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="tipos_residencial.length > 0">
        <ngb-tabset justify="center" class="">
          <ngb-tab>
            <ng-template ngbTabTitle><i class="icon-house"></i> Tipo <i class="fas fa-chevron-down small-icon"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- TIPO DE IMOVEL -->
              <div class="tab-pane fade show  FilterBarCheckBoxFIELDS2" id="" *ngIf="customSearch.tipos.length > 0">
                <ul >
                  <li *ngFor="let tipo of customSearch.tipos;  let i = index">
                    <input type="checkbox" class="checkbox-s2" [attr.id]="'tipo' + tipo.i" ([ngModel])="tipo.selected"
                           (change)="changeTipo($event, i)"/>
                    <label [attr.for]="'tipo' + tipo.i"><span>{{tipo.key}}</span></label>
                  </li>
                </ul>
              </div>
              <!-- END DE IMOVEL -->
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><i class="icon-dollar"></i> Preço <i class="fas fa-chevron-down small-icon"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row pt-3">
                <div class="col-6 offset-3">
                  <h6 class="text-left mb-4">Área Útil</h6>
                  <div class="row">
                    <div class="col-6">
                      <span>De</span> <input type="text" class="col-8 inputDeM2 input-grey"
                                             [(ngModel)]="customSearch.precos.min" placeholder="M²">
                    </div>
                    <div class="col-6">
                      <span>Até</span> <input type="text" class="col-8 inputAteM2 input-grey"
                                              [(ngModel)]="customSearch.precos.max" placeholder="M²">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-3 mt-4 pl-3 pr-3">
                <div class="col-6 offset-3">
                  <ng5-slider [(value)]="customSearch.precos.min" [(highValue)]="customSearch.precos.max"
                              [options]="options"></ng5-slider>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><i class="icon-area"></i> M<sup>2</sup> <i
              class="fas fa-chevron-down small-icon"></i></ng-template>
            <ng-template ngbTabContent>
              <div class="row pt-3">
                <div class="col-6 offset-3">
                  <h6 class="text-left mb-4">Área Útil</h6>
                  <div class="row">
                    <div class="col-6">
                      <span>De</span> <input type="text" class="col-8 inputDeM2 input-grey"
                                             [(ngModel)]="customSearch.area.min" placeholder="M²">
                    </div>
                    <div class="col-6">
                      <span>Até</span> <input type="text" class="col-8 inputAteM2 input-grey"
                                              [(ngModel)]="customSearch.area.max" placeholder="M²">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-3 mt-4 pl-3 pr-3">
                <div class="col-6 offset-3">
                  <ng5-slider [(value)]="customSearch.area.min" [(highValue)]="customSearch.area.max"
                              [options]="optionsArea"></ng5-slider>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="customSearch.finalidade === 'comercial'">
            <ng-template ngbTabTitle><i class="icon2-salas"></i> Salas <i class="fas fa-chevron-down small-icon"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="BALLCheckStyle pt-5 pb-3 " id="roomMenu-tab">
                <ul class="CheckHorizontal ScaleFilter" ngbRadioGroup name="radioBasic"
                    [(ngModel)]="customSearch.salas">
                  <li>

                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="0"> <span>0</span>
                    </label>
                  </li>
                  <li>

                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="1"> <span>1</span>
                    </label>
                  </li>
                  <li>
                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="2"><span>2</span>
                    </label>
                  </li>
                  <li>
                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="3"><span>3</span>
                    </label>
                  </li>
                  <li>
                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="4"><span>+4</span>
                    </label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="customSearch.finalidade === 'residencial'">
            <ng-template ngbTabTitle><i class="icon-bed"></i> Quartos <i class="fas fa-chevron-down small-icon"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="BALLCheckStyle pt-5 pb-3 ">
                <ul class="CheckHorizontal ScaleFilter" ngbRadioGroup name="radioBasic"
                    [(ngModel)]="customSearch.dormitorios">
                  <li>

                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="0"> <span>0</span>
                    </label>
                  </li>
                  <li>

                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="1"> <span>1</span>
                    </label>
                  </li>
                  <li>
                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="2"><span>2</span>
                    </label>
                  </li>
                  <li>
                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="3"><span>3</span>
                    </label>
                  </li>
                  <li>
                    <label ngbButtonLabel class="CheckHorizontalLabel">
                      <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s2" value="4"><span>+4</span>
                    </label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

  <div class="modal-footer d-flex align-content-center justify-content-center">
    <div class="row text-center">
      <div class="col-12 py-2 ">
        <button class="center-block btn btn-search btn-rounded" (click)="modal.close('buscar')"><i
          class="fas fa-search"></i> Buscar
        </button>
      </div>
      <div class="col-12 py-2 ">
        <button class="px-5 py-2 center-block btn btn-outline-orange btn-rounded" id="btn-limpar"
                (click)="modal.close('Save click')"><i class="fas fa-trash"></i> Limpar
        </button>
      </div>
    </div>
  </div>
</ng-template>
