<div id="backdrop">
  <div class="list-imoveis-menu-placeholder"></div>
  <section class="content properties">
    <div class="properties-content">
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-4 sidebar">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item" *ngIf="customSearch?.customSearch?.query"><a> Pesquisa </a></li>
                <li class="breadcrumb-item" *ngIf="!customSearch?.customSearch?.query"><a> Imóveis </a></li>
                <li
                  class='breadcrumb-item active'
                  *ngIf="!customSearch?.customSearch?.query && (customSearch?.customSearch?.categoria === 'comprar' || customSearch?.customSearch?.categoria === 'alugar')">{{customSearch?.customSearch?.categoria === 'comprar' ? 'COMPRAR' : customSearch?.customSearch?.categoria === 'alugar' ? 'ALUGAR' : ('')}} </li>
                <li
                  class='breadcrumb-item active'
                  *ngIf="!customSearch?.customSearch?.query && (customSearch?.customSearch?.finalidade === 'residencial' || customSearch?.customSearch?.finalidade === 'comercial')">{{customSearch?.customSearch?.finalidade === 'residencial' ? 'RESIDENCIAIS' : customSearch?.customSearch?.finalidade === 'comercial' ? 'COMERCIAIS' : ('')}} </li>
                <li
                  class='breadcrumb-item active' *ngIf="queryParams?.query">{{customSearch?.customSearch?.query}} </li>
              </ol>
            </nav>
            <div class="filter-badges">
              <span class="badge badge-pill" *ngFor="let badge of badges"
                    (click)="badgeClose(badge.query)">{{badge.label}}
                <button class="btn-badge" (click)="badgeClose(badge.query)">x</button></span>
            </div>
            <div class="row filter-inputs">
              <div class="col-lg-10">
                <div class="row">
                  <div class="col-12 d-flex mb-3 mt-1">
                    <input type="text" class="col" placeholder="Cidade, bairro ou código"
                           [(ngModel)]="simpleSearch"
                           (keyup)="searchAutocomplete($event)" id="userIdFirstWay" list="dynmicUserIdsImoveis"
                           (change)="onSelectAutoComplete($event, simpleSearch)"
                           [ngModelOptions]="{standalone: true}"/>
                    <datalist class="imoveisDatalist">
                      <option *ngFor="let item of autocompletes" [value]="item.value">{{item.value}}</option>
                    </datalist>
                    <button class="input-button" (click)="doSimpleSearch()"><i></i></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="button-modal" (click)="openFilter()"><i></i>Filtro Personalizado</button>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 properties-list">
            <div class="d-block d-sm-flex item" *ngIf="noResults">
              <h4>Nenhum imóvel encontrado!</h4>
            </div>
            <div class="d-block d-lg-flex item no-gutters" *ngFor="let imovel of imoveis">
              <div class="col-lg-5 novo-slider h-100">
                <owl-carousel-o [options]="mySlideOptions">
                  <ng-container *ngFor="let image of imagensCarousel(imovel.midia.imagens); let i = index">
                    <ng-template carouselSlide [id]="i">
                      <div class="item" (click)="goImovel(imovel)"
                           style="height: 100%;">
                        <div class="img" [class.opacity-filter]="i === 3" style="height: 100%;">
                          <img [src]="image"/>
                          <a (click)="goImovel(imovel)" class="btn btn-see-more btn-rounded"
                             *ngIf="i === 3">
                            VER MAIS <span class="arrow-icon"></span>
                          </a>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>

                </owl-carousel-o>

              </div>
              <div class="col-lg-7 h-100 novo-content" (click)="goImovel(imovel)">
                <div class="h-100 row">
                  <div class="col-12 align-self-start novo-topo">
                    <div class="row">
                      <div class="col-12">
                        <span class="novo-tipo">{{imovel.tipo}}</span>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="novo-local">{{imovel?.local?.bairro}}, {{imovel?.local?.cidade}}</span>
                      </div>

                    </div>
                  </div>
                  <div class="col-12 align-self-center novo-meio">
                    <div class="row no-gutters">
                      <div class="col-auto" *ngIf="toArea(imovel)">
                        <div>
                          <i class="icon-area"></i>
                          <span>{{toArea(imovel)}}</span>
                        </div>
                      </div>
                      <div class="col-auto"
                           *ngIf="(imovel.tipo === 'casa' && imovel.finalidade === 'comercial') && toSalas(imovel)">
                        <div><i class="icon2-salas"></i> <span>{{toSalas(imovel)}}</span></div>
                      </div>
                      <div class="col-auto"
                           *ngIf="(imovel.tipo !== 'sala' && imovel.tipo !== 'prédio' && imovel.tipo !== 'casa' && imovel.finalidade !== 'comercial') && toDormis(imovel)">
                        <div><i class="icon-bed"></i> <span>{{toDormis(imovel)}}</span></div>
                      </div>
                      <div class="col-auto"
                           *ngIf="(imovel.tipo === 'sala' || imovel.tipo === 'prédio') && toSalas(imovel)">
                        <div><i class="icon2-salas"></i> <span>{{toSalas(imovel)}}</span></div>
                      </div>
                      <div class="col-auto" *ngIf="toBath(imovel)">
                        <div>
                          <i class="icon-bathtub"></i>
                          <span>{{toBath(imovel)}}</span>
                        </div>
                      </div>
                      <div class="col-auto" *ngIf="toVaga(imovel)">
                        <div>
                          <i class="icon-car"></i>
                          <span>{{toVaga(imovel)}}</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-12 align-self-end novo-footer">
                    <div class="row justify-content-between">
                      <div class="col-auto">
                        <span class="novo-price" [innerHTML]="getprice(imovel)"></span>
                      </div>
                      <div class="col-auto align-self-end">
                        <span class="novo-cod">Cód: {{imovel.sigla}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="old" *ngIf="false">
                  <span class="field-label">{{imovel.tipo}}</span>
                  <p class="neighborhood">{{imovel?.local?.bairro}}</p>
                  <span class="code">Cód: <b>{{imovel.sigla}}</b></span>
                  <div class="middle-info">
                    <!-- Info Type -->
                    <div class="info-item"
                         *ngIf="(imovel.tipo === 'casa' && imovel.finalidade === 'comercial') && toSalas(imovel)">
                      <span class="field-label label-change">Salas</span>
                      <div><i class="icon2-salas text-orange"></i> {{toSalas(imovel)}}</div>
                    </div>
                    <div class="info-item"
                         *ngIf="(imovel.tipo !== 'sala' && imovel.tipo !== 'prédio' && imovel.tipo !== 'casa' && imovel.finalidade !== 'comercial') && toDormis(imovel)">
                      <span class="field-label label-change">Quartos</span>
                      <div><i class="icon-bed text-orange"></i> {{toDormis(imovel)}}</div>
                    </div>
                    <div class="info-item"
                         *ngIf="(imovel.tipo === 'sala' || imovel.tipo === 'prédio') && toSalas(imovel)">
                      <span class="field-label label-change">Salas</span>
                      <div><i class="icon2-salas text-orange"></i> {{toSalas(imovel)}}</div>
                    </div>
                    <div class="info-item" *ngIf="toArea(imovel)">
                      <span class="field-label label-change" *ngIf="imovel.tipo !== 'cobertura'">Área</span>
                      <span class="field-label label-change" *ngIf="imovel.tipo === 'cobertura'">Área útil</span>
                      <div>
                        <i class="icon-area text-orange"></i>
                        {{toArea(imovel)}}
                      </div>
                    </div>
                    <div class="info-item">
                      <span class="field-label label-change" *ngIf="queryParams.categoria === 'comprar'">Preço</span>
                      <span class="field-label label-change" *ngIf="queryParams.categoria === 'alugar'">Aluguel</span>
                      <div><i class="icon-dollar text-orange"></i> {{getprice(imovel)}}</div>
                    </div>
                  </div>
                  <div class="footer-info">
                    <div class="row">
                      <div class="col-6 col-sm-6 pos-btn-see-more">
                        <a (click)="goImovel(imovel)"
                           class="btn btn-see-more btn-rounded">
                          VER MAIS <span class="arrow-icon"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12" [hidden]="imoveis?.length !== 10 && currentPage !== 1">
<!--              <ul class="pagination">&lt;!&ndash;&ndash;&gt;-->
<!--                <li class="page-item disabled"><a aria-label="Previous" class="page-link" tabindex="-1"-->
<!--                                                  (click)="changePage(-1)"><span-->
<!--                  aria-hidden="true">«</span></a></li>&lt;!&ndash;&ndash;&gt;-->
<!--                <li class="page-item active">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;<a class="page-link"> {{currentPage}} &lt;!&ndash;&ndash;&gt;</a>-->
<!--                </li>-->
<!--                <li class="page-item"><a aria-label="Next" class="page-link" (click)="changePage(1)"><span-->
<!--                  aria-hidden="true">»</span></a></li>&lt;!&ndash;&ndash;&gt;-->
<!--              </ul>-->
                            <ngb-pagination [collectionSize]="pages" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
                                            [boundaryLinks]="true" (pageChange)="changePage($event)"></ngb-pagination>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="mood">
          <div class="mood-title">
            <p>Imóveis para</p>
            <h4>Todos os momentos</h4>
          </div>
          <div class="mood-content">
            <div class="row mood">
              <div class="col-12 col-md mood-bg mood-card building px-0 mx-0" style="cursor:pointer;">
                <a
                  [routerLink]="['/imoveis/']"
                  [queryParams]="{finalidade: 'residencial', categoria: 'comprar', tipo: 'terreno'}">
                  <div class="blend-mode">
                    <div class="mood-description">
                      <i class="icon-wall h4"></i>
                      <h3>Para construir</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md mood-bg mood-card highlight px-0 mx-0" style="cursor:pointer;">
                <a href="#" [routerLink]="['/imoveis/']" [queryParams]="{featured: true}">
                  <div class="blend-mode">
                    <div class="mood-description">
                      <i class="icon-featured h4"></i>
                      <h3>Destaques</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md mood-bg mood-card for-family px-0 mx-0" style="cursor:pointer;">
                <a
                  [routerLink]="['/imoveis/']"
                  [queryParams]="{finalidade: 'residencial', dormitorios: '3'}">
                  <div class="blend-mode">
                    <div class="mood-description">
                      <i class="icon-house-heart h4"></i>
                      <h3>Para família</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md mood-bg mood-card for-couple px-0 mx-0" style="cursor:pointer;">
                <a
                  [routerLink]="['/imoveis/']"
                  [queryParams]="{finalidade: 'residencial', dormitorios: '2'}">
                  <div class="blend-mode">
                    <div class="mood-description">
                      <i class="icon-alliance h4"></i>
                      <h3>Para casal</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md mood-bg mood-card alone px-0 mx-0" style="cursor:pointer;">
                <a
                  [routerLink]="['/imoveis/']"
                  [queryParams]="{finalidade: 'residencial', dormitorios: '1'}">
                  <div class="blend-mode">
                    <div class="mood-description">
                      <i class="icon-avatar-alone"></i>
                      <h3>Morando sozinho</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-custom-search #customSearch (customSearchChange)="queryChange($event)" (simpleSearchChange)="softParamSearch($event)"></app-custom-search>

<!--<ng-template #modalmobile let-modal>-->
<!--  <div class="row MobileFilterBarOptions">-->

<!--    <div class="col-12 MobileFilterBarTitle text-center">-->
<!--      <button type="button" class=" pull-left btn btn-block btn-apply checkbox-s" (click)="modal.close(true)">-->
<!--        Aplicar-->
<!--      </button>-->
<!--      <span>FILTRAR</span>-->
<!--      <button type="button" class="close pull-right" (click)="modal.close(false)">-->
<!--        <span aria-hidden="true">×</span>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="col-12 MobileFilterBarMenu px-0 py-0">-->
<!--      <ngb-accordion #acc="ngbAccordion">-->
<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle>-->
<!--            <i class="icon-key"></i> Finalidade <i-->
<!--            class="fas fa-chevron-down small-icon"></i>-->
<!--          </ng-template>-->
<!--          <ng-template ngbPanelContent>-->

<!--            <div class="FilterBarCheckBoxFIELDS2">-->
<!--              <ul>-->
<!--                <li>-->
<!--                  <input type="checkbox" class="checkbox-s2" [checked]="customSearch.categoria === 'comprar'"-->
<!--                         (change)="categoriaCheckboxChange('comprar')" id="OPCcomprarMObile"/>-->
<!--                  <label for="OPCcomprarMObile"><span>Comprar</span></label>-->
<!--                </li>-->

<!--                <li>-->
<!--                  <input type="checkbox" class="checkbox-s2" [checked]="customSearch.categoria === 'alugar'"-->
<!--                         (change)="categoriaCheckboxChange('alugar')" id="OPCalugarMObile"/>-->
<!--                  <label for="OPCalugarMObile"><span>Alugar</span></label>-->
<!--                </li>-->
<!--              </ul>-->

<!--            </div>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->
<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle>-->
<!--            <i class="icon-building"></i> Categoria <i-->
<!--            class="fas fa-chevron-down small-icon"></i>-->
<!--          </ng-template>-->
<!--          <ng-template ngbPanelContent>-->

<!--            <div class="FilterBarCheckBoxFIELDS2">-->
<!--              <ul>-->
<!--                <li>-->
<!--                  <input type="checkbox" class="checkbox-s2" id="categoria-1-mobile"-->
<!--                         (change)="changeFinalidade($event, 'residencial')"-->
<!--                         [checked]="customSearch.finalidade === 'residencial'"/>-->
<!--                  <label for="categoria-1-mobile"><span>Residencial</span></label>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <input type="checkbox" class="checkbox-s2" id="categoria-2-mobile"-->
<!--                         (change)="changeFinalidade($event, 'comercial')"-->
<!--                         [checked]="customSearch.finalidade === 'comercial'"/>-->
<!--                  <label for="categoria-2-mobile"><span>Comercial</span></label>-->
<!--                </li>-->
<!--              </ul>-->

<!--            </div>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->
<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle>-->
<!--            <i class="icon-house"></i> Tipo <i-->
<!--            class="fas fa-chevron-down small-icon"></i>-->
<!--          </ng-template>-->
<!--          <ng-template ngbPanelContent>-->
<!--            <div class="FilterBarCheckBoxFIELDS2">-->
<!--              <ul>-->
<!--                <li *ngFor="let tipo of customSearch.tipos;  let i = index">-->
<!--                  <input type="checkbox" class="checkbox-s2" [attr.id]="'tipo' + tipo.i" [checked]="tipo.selected"-->
<!--                         (change)="changeTipo($event, i)"/>-->
<!--                  <label [attr.for]="'tipo' + tipo.i"><span>{{tipo.key}}</span></label>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->

<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle><i class="icon-pin"></i> Cidade <i class="fas fa-chevron-down small-icon"></i>-->
<!--          </ng-template>-->


<!--          <ng-template ngbPanelContent>-->
<!--            <div class="cidades_botoes" *ngIf="cidades.length > 0">-->
<!--              <button *ngFor="let local of cidades;  let i = index" (click)="changeCidade(local)"-->
<!--                      [ngClass]="{'active' : local === customSearch.cidade}">{{local}}</button>-->
<!--            </div>-->

<!--          </ng-template>-->
<!--        </ngb-panel>-->
<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle><i class="icon-pin"></i> Bairro <i class="fas fa-chevron-down small-icon"></i>-->
<!--          </ng-template>-->
<!--          <ng-template ngbPanelContent>-->
<!--            <div class="tab-pane fade show  FilterBarCheckBoxFIELDS2" *ngIf="cidades.length > 0">-->
<!--              <ul>-->
<!--                <li *ngFor="let local of customSearch.bairros;  let i = index">-->
<!--                  <span><i class="menu-letter-marker"-->
<!--                           *ngIf="showMakerLetter(local.key, i)">{{firstMakerLetter(local.key)}}</i></span>-->
<!--                  <input type="checkbox" class="checkbox-s2" [attr.id]="'bairro' + i"-->
<!--                         [checked]="local.selected"-->
<!--                         (change)="changeBairro($event, i)"/>-->
<!--                  <label [attr.for]="'bairro' + i"><span>{{local.key}}</span></label>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->

<!--          </ng-template>-->
<!--        </ngb-panel>-->
<!--        <ngb-panel class="MBFilterOptions">-->

<!--          <ng-template ngbPanelTitle><i class="icon-bed"></i> Quartos <i-->
<!--            class="fas fa-chevron-down small-icon"></i></ng-template>-->


<!--          <ng-template ngbPanelContent>-->
<!--            <div class="BALLCheckStyle pt-5 pb-3 ">-->
<!--              <ul class="CheckHorizontal " ngbRadioGroup name="radioBasic"-->
<!--                  [(ngModel)]="customSearch.dormitorios">-->
<!--                <li>-->

<!--                  <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                    <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="0">-->
<!--                    <span>0</span>-->
<!--                  </label>-->
<!--                </li>-->
<!--                <li>-->

<!--                  <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                    <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="1">-->
<!--                    <span>1</span>-->
<!--                  </label>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                    <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="2"><span>2</span>-->
<!--                  </label>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                    <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="3"><span>3</span>-->
<!--                  </label>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                    <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s"-->
<!--                           value="4"><span>+4</span>-->
<!--                  </label>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->
<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle><i class="icon-dollar"></i> Preço <i-->
<!--            class="fas fa-chevron-down small-icon"></i></ng-template>-->
<!--          <ng-template ngbPanelContent>-->

<!--            <div class="row pt-3">-->
<!--              <div class="col-12 ">-->
<!--                <h6 class="text-left mb-4">Preço</h6>-->
<!--                <div class="row">-->
<!--                  <div class="col-6">-->
<!--                    <span>De</span> <input type="text" class="col-8 inputDeM2 input-grey"-->
<!--                                           [(ngModel)]="customSearch.precos.min" placeholder="M²"-->
<!--                                           [textMask]="{mask: MASKS.currency.textMask}"-->
<!--                                           [ngModelOptions]="{standalone: true}">-->
<!--                  </div>-->
<!--                  <div class="col-6">-->
<!--                    <span>Até</span> <input type="text" class="col-8 inputAteM2 input-grey"-->
<!--                                            [(ngModel)]="customSearch.precos.max" placeholder="M²"-->
<!--                                            [textMask]="{mask: MASKS.currency.textMask}"-->
<!--                                            [ngModelOptions]="{standalone: true}">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->

<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle><i class="icon-bathtub"></i> Banheiros <i-->
<!--            class="fas fa-chevron-down small-icon"></i></ng-template>-->
<!--          <ng-template ngbPanelContent>-->
<!--            <ul class="CheckHorizontal " ngbRadioGroup name="radioBasic"-->
<!--                [(ngModel)]="customSearch.banheiros">-->
<!--              <li>-->

<!--                <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                  <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="0">-->
<!--                  <span>0</span>-->
<!--                </label>-->
<!--              </li>-->
<!--              <li>-->

<!--                <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                  <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="1">-->
<!--                  <span>1</span>-->
<!--                </label>-->
<!--              </li>-->
<!--              <li>-->
<!--                <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                  <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="2"><span>2</span>-->
<!--                </label>-->
<!--              </li>-->
<!--              <li>-->
<!--                <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                  <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s" value="3"><span>3</span>-->
<!--                </label>-->
<!--              </li>-->
<!--              <li>-->
<!--                <label ngbButtonLabel class="CheckHorizontalLabel">-->
<!--                  <input type="radio" ngbButton class="CheckHorizontalInput checkbox-s"-->
<!--                         value="4"><span>+4</span>-->
<!--                </label>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->
<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle><i class="icon-area"></i> M<sup>2</sup>-->
<!--            <i class="fas fa-chevron-down small-icon"></i></ng-template>-->
<!--          <ng-template ngbPanelContent>-->


<!--            <div class="row pt-3">-->
<!--              <div class="col-12 ">-->
<!--                <div class="row">-->
<!--                  <div class="col-6">-->
<!--                    <span>De</span> <input type="text" class="col-8 inputDeM2 input-grey"-->
<!--                                           [(ngModel)]="customSearch.area.min" placeholder="M²"-->
<!--                                           [ngModelOptions]="{standalone: true}">-->
<!--                  </div>-->
<!--                  <div class="col-6">-->
<!--                    <span>Até</span> <input type="text" class="col-8 inputAteM2 input-grey"-->
<!--                                            [(ngModel)]="customSearch.area.max" placeholder="M²"-->
<!--                                            [ngModelOptions]="{standalone: true}">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row pt-3 mt-4 pl-3 pr-3">-->
<!--              <div class="col-12 ">-->
<!--                <ng5-slider [(value)]="customSearch.area.min" [(highValue)]="customSearch.area.max"-->
<!--                            [options]="optionsArea" *ngIf="optionsArea"></ng5-slider>-->
<!--              </div>-->
<!--            </div>-->

<!--          </ng-template>-->
<!--        </ngb-panel>-->

<!--        <ngb-panel class="MBFilterOptions">-->
<!--          <ng-template ngbPanelTitle><i class="icon-car"></i> Vagas de-->
<!--            Garagem <i class="fas fa-chevron-down small-icon"></i></ng-template>-->
<!--          <ng-template ngbPanelContent>-->
<!--            <ul class="HorizontalCheckBoxMobile">-->


<!--              <li>-->
<!--                <input type="radio" name="vagas" id="vagas_0" value="0"-->
<!--                       class="HorizontalCheckBoxMobileInput checkbox-s">-->
<!--                <label for="vagas_0" class="HorizontalCheckBoxMobileLabel"><span>0</span></label>-->
<!--              </li>-->


<!--              <li>-->
<!--                <input type="radio" name="vagas" id="vagas_1" value="1"-->
<!--                       class="HorizontalCheckBoxMobileInput checkbox-s">-->
<!--                <label for="vagas_1" class="HorizontalCheckBoxMobileLabel"><span>1</span></label>-->
<!--              </li>-->


<!--              <li>-->
<!--                <input type="radio" name="vagas" id="vagas_2" value="2"-->
<!--                       class="HorizontalCheckBoxMobileInput checkbox-s">-->
<!--                <label for="vagas_2" class="HorizontalCheckBoxMobileLabel"><span>2</span></label>-->
<!--              </li>-->


<!--              <li>-->
<!--                <input type="radio" name="vagas" id="vagas_3" value="3"-->
<!--                       class="HorizontalCheckBoxMobileInput checkbox-s">-->
<!--                <label for="vagas_3" class="HorizontalCheckBoxMobileLabel"><span>3</span></label>-->
<!--              </li>-->


<!--              <li>-->
<!--                <input type="radio" name="vagas" id="vagas_4" value="4"-->
<!--                       class="HorizontalCheckBoxMobileInput checkbox-s">-->
<!--                <label for="vagas_4" class="HorizontalCheckBoxMobileLabel"><span>+4</span></label>-->
<!--              </li>-->


<!--            </ul>-->
<!--          </ng-template>-->
<!--        </ngb-panel>-->

<!--      </ngb-accordion>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
