<section class="content bg-gray animated fadeInUp col-md-12 col-12 col-lg-12">


  <div class="buttonGoBack">
    <a (click)="goBack()" class="btn-go-back btn-rounded" title="">
      <span class="arrow-icon"></span> VOLTAR
    </a>
  </div>

  <div class="servicos-container">
    <h2>Serviços e Formulários</h2>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6  mx-auto">
        <div class="card m-collapse-head" (click)="mToggle($event)">
          <div class="m-collapse-head-title">SEGUNDA VIA DO BOLETO</div>
          <div class="m-collapse-head-icon active">
            <i class="fas fa-minus"></i></div>
        </div>

        <div class="card m-collapse-body buttoncenter">
          <button class="button-collapse col-9 col-sm-8 col-lg-7 col-md-8">
            ACESSAR SISTEMA
          </button>
        </div>
      </div>
    </div>


    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6  mx-auto">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">EXTRATO DO PROPRIETÁRIO</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
        <div class="card m-collapse-body buttoncenter">
          <button class="button-collapse col-9 col-sm-8 col-lg-7 col-md-8">
            ACESSAR SISTEMA
          </button>
        </div>

      </div>
    </div>


    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">CADASTRO DE PESSOA FÍSICA</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
        <div class="card m-collapse-body">
          <app-form-pessoa-fisica> </app-form-pessoa-fisica>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto m-hide">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">CADASTRO DE PESSOA JURÍDICA</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto m-hide">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">LOCADOR</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto m-hide">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">AVISO DE DESOCUPAÇÃO</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto m-hide">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">ANUNCIE O SEU IMÓVEL</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto m-hide">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">PROPOSTA DE LOCAÇÃO</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="m-collapse col-10 col-sm-10 col-lg-6 mx-auto m-hide">
        <div class="card m-collapse-head ">
          <div class="m-collapse-head-title">PROPOSTA DE COMPRA</div>
          <div class="m-collapse-head-icon">
            <i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>


  </div>


</section>
