
.property_releases_nav {
  height: 40px;
  padding: 0;
  margin: 0;
}

.how-we-do {
  background: #575656;
  padding-bottom: 4px;

  .title_right, .title_left, .HWD-text {
    color: #fff;
  }
}

.footer .container {
  max-width: 1190px;

  .footer-links {
    .instagram {
      position: absolute;
      left: 60px;
    }
  }
}

.about-us.content-internal {
  max-height: 800px;
}

#FilterBar .FilterBarCheckBoxFIELDS2 li {
  width: 100%;
}

.RoomMenu.BALLCheckStyle, .BathMenu {
  width: 300px !important;
}

.HomePersonalFilterBar .HorizontalCheckBoxMobileLabel, .HomePersonalFilterBar .HorizontalCheckBoxMobileLabel {
  margin-right: 5px !important;
}

.property_launches {


  .item {
    height: 230px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
  }

  .blog-thumb img {
    cursor: pointer;
  }

  .lancamento_nome {
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: all 0.5s ease-out;
    -moz-animation: all 0.5s ease-out;
    -o-animation: all 0.5s ease-out;
    animation: all 0.5s ease-out;
  }

  .lancamento_nome:hover {
    background: rgba(0, 0, 0, .6);
  }

  .lancamento_nome span {
    opacity: 0;
    color: #f69731;
    -webkit-animation: all 0.5s ease-out;
    -moz-animation: all 0.5s ease-out;
    -o-animation: all 0.5s ease-out;
    animation: all 0.5s ease-out;
  }

  .lancamento_nome:hover span {
    opacity: 1;
  }

  .property_releases_nav {

  }

  .property_releases_nav ul li a {
    cursor: pointer;
  }

}

#down-arrow {
  cursor: pointer;
}

.PropertyCardValues.valores {
  img {
    margin-top: 0 !important;
  }

  &.iptu.condominio {
    img {
      margin-top: 0 !important;
      width: 40px;
      margin-right: 10px;
    }
  }
}


.recursos ul {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;

  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;

  }
}

.dropdown-tipo-desktop {
  ul {
    li {
      display: block;
      float: unset;
      width: unset;
    }
  }
}

.MobileFilterBarTitle {
  .btn-apply {
    width: 63px;
    position: absolute;
    left: 27px;
    text-align: center;
    padding: unset;
    margin-top: 6px;
  }
}

.boleto-modal {
  display: block !important;
}

#list-bairros {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


.modal-dialog {
  margin: 0;
}

.modal-dialog-centered {
  margin: auto;
}

.modal-dialog.modal-xl.modal-dialog-centered {
  margin: auto;
}

.MobileFilterBarTitle {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.MobileFilterBarMenu {
  padding-top: 60px !important;
}

.properties .properties-list .item {

  height: 235px;
  box-shadow: none !important;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));


  .novo-slider {
    position: relative;

    .owl-carousel {
      .owl-dots {
        margin-top: -32px !important;
      }

      height: 235px;
    .owl-stage {
      height: 235px;
      .owl-item {
        height: 235px;
      }
    }
    }

  }

  .novo-content {
    padding: 24px;
    cursor: pointer;

    .novo-tipo {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;


      color: #A3A3A3;

    }

    .novo-local {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #575656;

    }

    .novo-cod {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;

      /* Not-is-black */

      color: #575656;

    }

    .novo-price {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      align-items: center;

      /* Primary-color */

      color: #F69731;
      sub {
        font-size: 12px;

      }
    }
    .novo-meio > .row > .col-auto {
      margin-right: 15px;

      > div {
        display: flex;
        align-items: center;


        i {
          color: #A3A3A3;
          font-size: 22px;
        }

        span {
          margin-left: 4px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #575656;
        }
      }

    }

  }
}
