<div id="backdrop">
  <div class="homeContactButtonMark" id="sectionRelease">
    <button id="buttonContato" class="btn btn-contact-chat btn-rounded btn-contact-me-NEW d-none d-sm-none d-md-block"
            type="button"><span class="chat-icon"></span> <span><span style="color:#575656;">Entre em</span><br> CONTATO</span>
    </button>
    <a class="btn btn-contact-chat btn-circle btn-xl btn-contact-me-NEW d-block d-sm-block d-md-none"
       data-toggle="modal" data-target="#contactMe"><span class="chat-icon"></span></a>
    <div class="d-none" id="groupButtomContact" style="">
      <a href="index.html#" class="btn btn-secondary-action btn-sca-phone btn-rounded text-uppercase">
        <img class="mr-1" alt="" title="" width="22" src="assets/img/icons/icon-phone.svg"/> <span><span
        style="color:#575656;">LIGUE AGORA</span><br>2512-0000</span>
      </a>
      <a target="_blank" rel=”noopener”
         href="https://api.whatsapp.com/send?phone=5519999120030&text=Ol%C3%A1%2C%20quero%20saber%20mais%20sobre%20seus%20im%C3%B3veis!%20"
         class="btn btn-secondary-action btn-sca-whatsapp btn-rounded text-uppercase">
        <img class="mr-1" alt="" title="" width="22" src="assets/img/icons/icon-whatsapp.svg"/> <span><span
        style="color:#575656;">whatsapp</span><br>(19) 99912-0030</span>
      </a>
      <a href="index.html#" class="btn btn-secondary-action btn-sca-contact btn-rounded text-uppercase"
         data-toggle="modal" data-target="#contactMe">
        <img class="mr-1" width="22" alt="" title="" src="assets/img/icons/icon-contact-pq.svg"> MENSAGEM
      </a>
      <button type="button" id="btnContactTimes" class="btn bnt-sca-times"><img width="22" alt="" title=""
                                                                                src="assets/img/icons/icon-times-contact.svg">
      </button>
    </div>
  </div>
  <section class="container" style="display: none;">
    <div class="property_launches">
      <h3>Confira os Nossos</h3>
      <h2>Lançamentos</h2>
      <span class="orange_bar_decoration"></span>


      <div class="property_releases_nav">
        <ul>
          <li><a [class.active]="" class="active">Todos</a></li>
          <li><a>Residencial</a></li>
          <li><a>Comercial</a></li>
        </ul>
      </div>
      <div class="property_releases_content">
        <div class="container">
          <div class="col-lg-10 offset-lg-1">
            <div class="row">
              <div class="col-4" *ngFor="let lancamento of lancamentos">
                <a href="{{lancamento.link}}">
                  <img src="{{lancamento.image}}" class="img-fluid"/>
                  <div class="lancamento_nome">
                    <div class="row">
                      <div class="col">
                        <span>{{lancamento.title.rendered}}</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="blog-decoration top-session" style=""></div>
<!--  <section class="blog_home_section" id="blog" style="">-->
<!--    <div class="container">-->
<!--      <div class="blog-slider ">-->
<!--        <div class="blog_title">-->
<!--          <h2>Blog</h2>-->
<!--          <span class="orange_bar_decoration"></span>-->
<!--        </div>-->
<!--        <div class="blog-img">-->
<!--          <div class="blog-label-category text-uppercase" id="b-label"></div>-->
<!--          <div class="blog-gradient animated fadeIn">-->
<!--            <a id="link-banner" class="animation animated fadeIn">-->
<!--              <h2 class="blog-h2  animated fadeInDown" id="b-title"></h2>-->
<!--              <h3 class="blog-h3  animated fadeInDown" id="b-subtitle"></h3>-->
<!--              <a class="blog-btnAction btn btn-generic-white btn-rounded mt-4  animated fadeInDown" id="blog_btnAction">Ver-->
<!--                mais <i class="GenericArrowWhite"></i></a>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="overlayBlog"></div>-->
<!--          <img class="animated fadeIn" alt="" id="b-img" height="400">-->
<!--        </div>-->
<!--        <div class="blog-controller">-->
<!--          <div class="blog-arrow-left">-->
<!--            <a href="javascript:prevItem();" id="btn_prev" data-position="4" href="index.html"><img-->
<!--              src="assets/img/blog-left-arrow.svg" alt="" width="94"></a>-->
<!--          </div>-->
<!--          <div class="blog-arrow-right">-->
<!--            <a href="javascript:nextItem();" id="btn_next" data-total="5" data-position="1"><img-->
<!--              src="assets/img/blog-right-arrow.svg" alt="" width="94"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog-thumb">-->
<!--          <ul>-->
<!--            <li id="hoverLi_0"><a href="javascript:getBlogInfo(0);" class="thumb_itens" id="blogNews_0"-->
<!--                                  data-img="storage/news/noticia6.jpeg" data-link="noticia6" data-title="Noticia 6"-->
<!--                                  data-subtitle="Sub Noticia 6" data-label="Decoração" data-position="0"><img-->
<!--              src="storage/news/noticia6.jpeg" alt=""></a></li>-->
<!--            <li id="hoverLi_1"><a href="javascript:getBlogInfo(1);" class="thumb_itens" id="blogNews_1"-->
<!--                                  data-img="storage/news/noticia5.jpeg" data-link="noticia5" data-title="Noticia 5"-->
<!--                                  data-subtitle="Sub Noticia 5" data-label="Decoração" data-position="1"><img-->
<!--              src="storage/news/noticia5.jpeg" alt=""></a></li>-->
<!--            <li id="hoverLi_2"><a href="javascript:getBlogInfo(2);" class="thumb_itens" id="blogNews_2"-->
<!--                                  data-img="storage/news/noticia1.jpeg" data-link="noticia1" data-title="Noticia 1"-->
<!--                                  data-subtitle="Sub Noticia 1" data-label="Design de Interior" data-position="2"><img-->
<!--              src="storage/news/noticia1.jpeg" alt=""></a></li>-->
<!--            <li id="hoverLi_3"><a href="javascript:getBlogInfo(3);" class="thumb_itens" id="blogNews_3"-->
<!--                                  data-img="storage/news/noticia2.jpeg" data-link="noticia2" data-title="Noticia 2"-->
<!--                                  data-subtitle="Sub Noticia 3" data-label="Lançamento" data-position="3"><img-->
<!--              src="storage/news/noticia2.jpeg" alt=""></a></li>-->
<!--            <li id="hoverLi_4"><a href="javascript:getBlogInfo(4);" class="thumb_itens" id="blogNews_4"-->
<!--                                  data-img="storage/news/lorem-ipsum-dolor-sit-amet.jpeg" data-link="noticia3"-->
<!--                                  data-title="Noticia 3" data-subtitle="Sub Noticia 3" data-label="Lançamento"-->
<!--                                  data-position="4"><img src="storage/news/lorem-ipsum-dolor-sit-amet.jpeg" alt=""></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="blog-btn">-->
<!--          <a class="btn btn-see-all btn-rounded" href="blog.html">VER TODOS</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <div class="blog-decoration base-session" style="display:none !important;"></div>
  <div class="container about-session">
    <h2>Sobre nós</h2>
    <span class="orange_bar_decoration"></span>
    <div class="row about-session-block">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-img-block">
          <div class="picture-frame">
            <img src="assets/img/next-fachada.png" alt="" class="picture">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="about-text-block">
          <h2 class="d-none d-sm-none d-md-block">Nossa História</h2>
          <div class="d-block d-sm-block d-md-none">
            <h2 class="text-center">Nossa História</h2>
          </div>
          <p>
            Somos uma imobiliária atuando a mais de 25 anos unindo visão empresarial e investimento
            imobiliário, com o objetivo de realizar os melhores negócios para todos os seus clientes.
          </p>
          <p> Por isso, nós orientamos e atuamos, do início ao fim, em todo processo de análise e negociação
            imobiliária.
          </p>
          <a [routerLink]="['/sobre-nos/']" class="btn btn-see-more btn-rounded mt-5">VER MAIS <span
            class="arrow-icon"></span></a>
        </div>
      </div>
      <div class="d-block d-sm-block d-ms-none mb-5 pb-3">&nbsp</div>
    </div>
  </div>
  <div class="how-we-do">
    <div class="container">
      <div class="row title_block">
        <div class="col-5 title_right pr-0">Como<br>fazemos</div>
        <div class="col-1 centerObject1 px-0"><img src="assets/img/line-diag.png" alt=""></div>
        <div class="col-6 title_left d-block d-sm-block d-md-none pl-3">A nossa forma de trabalhar é o segredo para uma
          jornada de sucesso.
        </div>
        <div class="col-5 title_left d-none d-sm-none d-md-block pl-2">A nossa forma de trabalhar é o <br/>segredo para
          uma jornada de <br/>sucesso.
        </div>
      </div>
      <div class="row picture_block">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 upmobile50">
          <div class="HWD-img-block">
            <div class="HWD-picture-frame">
              <img src="assets/img/pic-hwd-01.png" alt="" class="HWD-picture">
            </div>
          </div>
          <div class="icon-block">
            <p class="HWD-text"><label class="HWD-number">1</label>Preencha o formulário de contato com seus dados para
              que um de nossos consultores possa lhe retornar.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 upmobile50">
          <div class="HWD-img-block">
            <div class="HWD-picture-frame">
              <img src="assets/img/pic-hwd-02.png" alt="" class="HWD-picture">
            </div>
          </div>
          <div class="icon-block">
            <p class="HWD-text"><label class="HWD-number">2</label>Feito isso, nossos especialistas irão lhe contatar
              para agendar uma visita em seu imóvel, avalia-lo, tirar fotos profissionais e apresentar o documento de
              autorização de venda e/ou locação.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 upmobile50">
          <div class="HWD-img-block">
            <div class="HWD-picture-frame">
              <img src="assets/img/pic-hwd-03.png" alt="" class="HWD-picture">
            </div>
          </div>
          <div class="icon-block">
            <p class="HWD-text"><label class="HWD-number">3</label>Em seguida, seu imóvel irá passar por um processo de
              aprovação do departamento de marketing, com o intuito de maximizar a divulgação.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 upmobile50">
          <div class="HWD-img-block">
            <div class="HWD-picture-frame">
              <img src="assets/img/pic-hwd-04.png" alt="" class="HWD-picture">
            </div>
          </div>
          <div class="icon-block">
            <p class="HWD-text"><label class="HWD-number">4</label>A partir daí, você faz parte da Next, e, poderá
              acompanhar todo o processo de negociação, por meio de nosso email 360 e continuo dialogo com nossos
              consultores.</p>
          </div>
        </div>
      </div>
      <div class="row divBtnDownload">
        <div class="col-md-12 centerObject"><a [routerLink]="['/quero-negociar/']" class="btn btn-generic-inverse btn-rounded ">QUERO
          NEGOCIAR</a></div>
      </div>
    </div>
  </div>
</div>
