
.item {
  height: auto;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
  box-shadow: 0 2px 6px #d8d8d8 !important;
  transition: ease-in 0.2s !important;
  background: #FAFAFA !important;
  padding-bottom: 2px;

  img {
    object-fit: cover;
    height: 220px;
  }

  h4, h6 {
    margin: auto;
    color: #000;
  }

  h6 {
    text-transform: capitalize;
    font-size: 1rem;
  }
  h4 {
    font-size: 1.3rem;

  }

  &:hover {
    h6, h4 {
      color: #000;
    }
  }
}
.blog-thumb img {
  cursor: pointer;
}
.lancamento_nome {
}

.lancamento_nome:hover {
  background: rgba(0, 0, 0, .6);
}


.property_releases_nav {

}

.property_releases_nav ul li a {
  cursor: pointer;
}
